@media only screen and (max-width:760px) {

    /* ヘッダー */
    header .row {
        display: block;
    }


    /* ハンバーガーメニュー */
    #menu .inner ul {
        display: block;
    }

    nav {
        display: block;
        position: fixed;
        background-color: #f0f8ff;
        width: 240px;
        top: 0;
        left: -320px;
        bottom: 0;
        transition: all 0.5s;
        z-index: 1000;
        opacity: 0;
    }

    .open nav {
        left: 0;
        opacity: 1;
    }

    nav .inner {
        padding: 24px;
    }

    nav .inner ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav .inner ul li {
        margin: 0;
        border-bottom: 1px solid #333;
    }

    nav .inner ul li a {
        display: block;
        color: #333;
        font-size: 16px;
        padding: 1em;
        text-decoration: none;
        transition-duration: 0.2s;
    }

    nav .inner ul li a:hover {
        background: #e4e4e4;
    }

    .toggleBtn {
        display: block;
        position: fixed;
        top: 32px;
        right: 32px;
        width: 32px;
        height: 32px;
        z-index: 1000;
        cursor: pointer;
    }

    .toggleBtn span {
        position: absolute;
        display: block;
        left: 0;
        width: 32px;
        height: 2px;
        background-color: #333;
        transition: all 0.5s;
        border-radius: 4px;
    }

    .toggleBtn span:nth-child(1) {
        top: 4px;
    }

    .toggleBtn span:nth-child(2) {
        top: 16px;
    }

    .toggleBtn span:nth-child(3) {
        bottom: 4px;
    }

    .open .toggleBtn span {
        background-color: #f0f8ff;
    }

    .open .toggleBtn span:nth-child(1) {
        transform: translateY(10px) rotate(-315deg);
    }

    .open .toggleBtn span:nth-child(2) {
        opacity: 0;
    }

    .open .toggleBtn span:nth-child(3) {
        transform: translateY(-10px) rotate(315deg);
    }

    #mask {
        display: none;
        transition: all 0.5s;
    }

    .open #mask {
        display: block;
        background: #333;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        opacity: 0.8;
        z-index: 500;
        cursor: pointer;
    }


    /* メインビジュアル */
    .mv .title {
        width: 100%;
    }

    .mv h1 {
        font-size: 32px;
        margin: 0 0 12px 16px;
    }

    .mv p {
        font-size: 16px;
        margin-left: 16px;
    }

    .mv .container {
        height: 540px;
        margin-bottom: 0;
    }

    /* セクション1 */
    .section1 .row {
        flex-wrap: wrap;
    }

    .section1 .col {
        width: 100%;
    }

    .section1 h2 {
        font-size: 24px;
    }

    .section1 img {
        max-width: 320px;
        max-height: 240px;
        display: block;
        margin: 0 auto;
    }

    .section1 .text {
        font-size: 16px;
        line-height: 1.6;
        padding-top: 32px;
        padding-bottom: 40px;
    }

    /* セクション2 */
    .section2 .row {
        margin-bottom: 24px;
        flex-wrap: wrap;
    }

    .section2 .col {
        width: 100%;
        margin-bottom: 24px;
    }

    .section2 img {
        max-width: 320px;
        max-height: 240px;
        display: block;
        margin: 0 auto;
    }

    /* 下層ページ共通 */

    .pageMv .container {
        height: 160px;
        top: 40px;
    }

    .pageMv h1 {
        font-size: 24px;
        font-weight: 600;
    }

    .pageMv p {
        font-size: 16px;
        font-weight: 400;
        color: #fefefe;
    }

    /* 会社概要 */
    .companySection .container .row {
        display: block;
    }

    .companySection .col {
        width: 80%;
        margin: 0 auto 32px;
        align-items: center;
    }

    .companySection table tr th {
        width: 90px;
    }

    .companySection img {
        width: 240px;
        display: block;
        margin: 0 auto;
    }

    .map iframe {
        width: 360px;
        height: 480px;
    }

    /* 事業内容 */
    .serviceSection .content {
        align-items: center;
        flex-direction: column-reverse;
    }

    .serviceSection .industry {
        width: 100%;
        margin-bottom: 32px;
        text-align: center;
    }

    .serviceSection img {
        max-width: 320px;
        max-height: 240px;
        border-radius: 24px;
    }

    .serviceSection .text {
        max-width: 400px;
        line-height: 1.8;
        font-size: 0.9em;
        margin: 0 auto 12px;
    }

}